// # Variables
// -----------------------------------------------------------------------------

$color-border: #ddd;
$color-open-icon: #777;

// # Accordion Default Styles
// -----------------------------------------------------------------------------

// Force all content open if there is no JS.
.no-js {
  .c-accordion__content {
    display: block !important;
  }

  .c-accordion__title {
    padding-right: none;
    cursor: default;

    &:after {
      display: none;
    }
  }
}

.c-accordion__title--button {
  display: inline-block;
  color: inherit;
  background-color: transparent;
  text-align: left;
  vertical-align: middle;
  font: inherit;
  text-decoration: none;
  direction: ltr;
  border: none;
  border-radius: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  transition: 0;
  box-shadow: none;
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus,
  &:hover {
    color: inherit;
    background-color: transparent;
  }
}
.c-accordion__container {
  position: relative;
}
.c-accordion__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  position: absolute;
  top: 50%;
  right: 0;
  color: $color-open-icon;
  font-weight: 300;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.c-accordion__svg {
  width: 100%;
  height: auto;
  fill: $color-open-icon;
  border: solid 3px $color-open-icon;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.c-accordion__title {
  padding-right: 2.5rem;
  cursor: pointer;
}

.is-open {
  .c-accordion__svg {
    transform: rotateX(180deg);
  }
}

// Make all the content visible when printing the page.
@media print {
  .c-accordion__content {
    display: block !important;
  }
}
