.no-js .c-accordion__content {
  display: block !important;
}
.c-accordion__content {
  margin-top: 10px;
}
.no-js .c-accordion__title {
  padding-right: none;
  cursor: default;
}
.no-js .c-accordion__title:after {
  display: none;
}

.c-accordion__title--button {
  display: inline-block;
  color: inherit;
  background-color: transparent;
  text-align: left;
  vertical-align: middle;
  font: inherit;
  text-decoration: none;
  direction: ltr;
  border: none;
  border-radius: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  transition: 0;
  box-shadow: none;
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.c-accordion__title--button:focus,
.c-accordion__title--button:hover {
  color: inherit;
  background-color: transparent;
}

.c-accordion__container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.c-accordion__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  top: 50%;
  right: 0;
  color: #777;
  font-weight: 300;
}

.c-accordion__svg {
  width: 100%;
  height: auto;
  fill: #777;
  border: solid 3px #777;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.c-accordion__title {
  margin: 0 !important;
  margin-right: 1rem !important;
  cursor: pointer;
}
.c-accordion__title--editor {
  min-width: 60%;
}

.is-open .c-accordion__svg {
  transform: rotateX(180deg);
}

@media print {
  .c-accordion__content {
    display: block !important;
  }
}
